#listado {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding-top: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
#form-busqueda {
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding-top: 1em;
    text-align: center;
}
#form-busqueda input {
    padding: 5px;
    font-size: 18px;
    width: 50%;
}

table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
th {
    background-color: #f2f2f2;
    color: #555;
}
td {
    background-color: #f7f7f7;
    color: #333;
}
tr:hover {
    background-color: #e0e0e0 !important;
}
caption {
    font-size: 24px;
    margin-bottom: 10px;
    color: #555;
}

.numero {
    text-align: right;
}