<div id="form-busqueda">
    <input type="text" placeholder="Nombre" [(ngModel)]="textoBusqueda" (input)="filtrarClientes()">
</div>
<div id="listado">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Dioptrías</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of listadoClientesFiltrados">
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.telefono}}</td>
                <td>{{cliente.email}}</td>
                <td class="numero">{{cliente.dioptrias}}</td>
            </tr>
        </tbody>
    </table>
</div>