.footer {
    background-color: #d0cfcf; /* Fondo gris claro */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaciado entre los elementos */
    flex-wrap: wrap; /* Si es necesario, permite que los elementos se ajusten en varias líneas */
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: #333; /* Gris oscuro para el texto */
}

.footer a {
    color: #555; /* Gris para los enlaces */
    text-decoration: none; /* Eliminar subrayado */
}

.footer a:hover {
    color: #007bff; /* Cambiar color cuando el enlace es hover */
}
