#contenedor {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 5em;
    background-color: #fff; /* Fondo blanco */
    font-family: Arial, sans-serif;
    color: #535351; /* Naranja oscuro */
    text-align: center;
}

.credits-container {
    max-width: 800px;
}

.credits-title {
    font-size: 36px; /* Texto grande para el título */
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px rgb(248, 204, 47);
}

.credits-subtitle {
    font-size: 16px; /* Texto más pequeño para el subtítulo */
    text-shadow: 1px 1px rgb(248, 204, 47);
}