header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6ac5db;
    padding: 15px 20px;
    color: rgb(30, 30, 30);
}

/* Estilo base para el logo */
#logo-img {
    width: 60px; /* Ajusta el tamaño base del logo */
    height: auto; /* Mantén la proporción de la imagen */
    transition: transform 0.6s ease; /* Transición suave para el efecto de ampliación */
}

/* Ampliación al pasar el ratón */
#logo-img:hover {
    transform: scale(1.4); /* Escala la imagen al 140% de su tamaño original */
    cursor: pointer; /* Cambia el cursor a pointer para indicar interactividad */
}

/* Estilo general del encabezado */
.logo {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre la imagen y el texto */
}

#empresa-nombre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    color: #333; /* Gris oscuro para el texto */
    margin-left: 500px;
}

.reloj {
    margin-left: auto; /* Empuja el reloj al extremo derecho */
    font-size: 20px;
    font-weight: bold;
    color: #0c0c0c;
}